{% extends '@Kvint/Default/index.html.twig' %}
{% form_theme skladForm 'bootstrap_3_layout.html.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Просмотр склада {{ skladForm.sname.vars.value }}</h1>
                {{ form_start(skladForm) }}
                {{ form_row(skladForm.kod, { 'attr':{'style': 'width: 80px'} }) }}
                {{ form_row(skladForm.sname, { 'attr':{'disabled':'disabled', 'style': 'width: 400px'} }) }}
                {{ form_row(skladForm.entKod, { 'attr':{'disabled':'disabled', 'style': 'width: 400px'} }) }}
                {{ form_row(skladForm.zoneKod, { 'attr':{'disabled':'disabled', 'style': 'width: 400px'} }) }}
                {{ form_row(skladForm.rozn, { 'attr':{'disabled':'disabled'} }) }}
                {{ form_row(skladForm.obpRozn, { 'attr':{'disabled':'disabled'} }) }}
                {{ form_row(skladForm.autoClose, { 'attr':{'disabled':'disabled', 'style': 'width: 400px'} }) }}
                {{ form_widget(skladForm.ok) }}
                {{ form_end(skladForm) }}
            </div>
        </div>
    </div>
{% endblock %}
