<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('resources/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('resources/css/main.css') }}">
        {% block stylesheets %}{% endblock %}
        <script type="text/javascript" src="{{ asset('resources/js/jquery-3.2.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('resources/js/bootstrap.min.js') }}"></script>
    </head>
    <body>
        {#{% block mainmenu %}#}
            {#<nav class="navbar navbar-default navbar-fixed-top">#}
                {#<div class="container-fluid">#}
                    {#<div class="navbar-header">#}
                        {#<a class="navbar-brand" href="#">WebSiteName</a>#}
                    {#</div>#}
                    {#{{ knp_menu_render('AppBundle:MenuBuilder:mainMenu') }}#}
                {#</div>#}
            {#</nav>#}
        {#{% endblock %}#}
        {% include '@App/Menu/mainMenu.html.twig' %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
